<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">MyBlog yönetim paneli</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin"
            >Anasayfa <span class="sr-only">(current)</span></a
          >
        </li>
<li>
  <button type="button" class="btn btn-primary" routerLink="/admin/makale/ekle" >ekle</button>
</li>
<li>
  <button type="button" class="btn btn-success" routerLink="/admin/makale/liste" >listele</button>
</li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <i class="fa fa-home"></i> Blog anasayfaya dönüş
            <span class="sr-only">(current)</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
